---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import HeroCarousel from '../components/HeroCarousel.astro';
import ProductInfo from '../components/ProductInfo.astro';
import StayUpdated from '../components/StayUpdated.astro';
import FlowbiteTimeline from '../components/FlowbiteTimeline.astro';
import FAQ from '../components/FAQ.astro';
import Team from '../components/Team.astro';
import PreorderCTA from '../components/PreorderCTA.astro';
import PreorderBanner from '../components/PreorderBanner.astro';
import Footer from '../components/Footer.astro';
import Sticker from '../components/Sticker.astro';
import stickerHearts from '../images/sticker-hearts.png';
import stickerLipstick from '../images/sticker-lipstick.png';
import stickerMirror from '../images/sticker-mirror.png';
import stickerSparkles from '../images/sticker-sparkles.png';
import stickerCross from '../images/sticker-cross.png';

import type { Product } from '../components/ProductInfo.astro';
import type { FAQ as FAQType } from '../components/FAQ.astro';
import type { TimelineItem as TimelineItemType } from '../components/FlowbiteTimeline.astro';
import type { TeamMemberData as TeamMemberDataType } from '../components/Team.astro';




const products: Product[] = [
	{ name: 'Made to Order', description: 'Manufactured on demand', variant: 'A' },
	{ name: 'Single Size', description: 'One size fits all', variant: 'B' },
	{ name: 'Includes Belt', description: 'Complete set', variant: 'A' },
];

const faqs: FAQType[] = [
	{
		question: 'How can I receive my happi?',
		answer: 'Preorders will be available through our distribution partner, <a href="https://oshimoshi.shop/" target="_blank" rel="noopener noreferrer" class="text-vivi-purple-600 hover:underline">Oshi Moshi</a>. We offer worldwide shipping, so you can order from anywhere in the world!',
	},
	{
		question: 'Can I pick up my happi at the venue?',
		answer: 'This happi run will be for delivery only.',
	},
	{
		question: 'How big is the happi?',
		answer: 'The happi comes in a single size that is designed to fit most people. It\'s a traditional Japanese happi coat style that is meant to be worn loosely over your clothes.',
	},
	{
		question: 'Will the happi be sold out?',
		answer: 'No need to worry! Since these are made to order, we won\'t run out of stock. Preorders will be open in January, and each order will be manufactured specifically for you. Make sure to place your order during the preorder period to ensure delivery before Holofes 7th!',
	},
	{
		question: 'What\'s included with the happi?',
		answer: 'Each happi comes with a matching belt, so you\'ll have everything you need to wear it properly. The complete set includes the happi coat and belt.',
	},
	{
		question: 'When will I receive my order?',
		answer: 'All orders will be shipped before Holofes 7th in March 2026. Since items are made to order, please allow time for production. We\'ll make sure you receive your happi in time for the event!',
	},
];

const timelineItems: TimelineItemType[] = [
	{ title: 'Preorders Open', date: 'January 2026' },
	{ title: 'Production', date: 'January - February 2026' },
	{ title: 'Shipping', date: 'Before hololive 7th fes' },
];

const teamMembers: TeamMemberDataType[] = [
	{ name: 'danirukun', role: 'Project Lead', xHandle: 'danirukun', xUrl: 'https://x.com/danirukun', avatarUrl: 'https://pbs.twimg.com/profile_images/1830747292942356480/lh4BGGpr_400x400.jpg' },
	{ name: 'ArtElphe', role: 'Artist', xHandle: 'ArtElphe', xUrl: 'https://x.com/ArtElphe', avatarUrl: 'https://pbs.twimg.com/profile_images/1579927174043553792/n3QhY1WH_400x400.jpg' },
	{ name: '苺大福', role: 'Artist', xHandle: 'il_ichi05', xUrl: 'https://x.com/il_ichi05', avatarUrl: 'https://pbs.twimg.com/profile_images/1910224157746544640/bwgg1i4r_400x400.jpg' },
	{ name: 'Ghostbyun', role: 'Design', xHandle: 'ghosttbyun', xUrl: 'https://x.com/ghosttbyun', avatarUrl: 'https://pbs.twimg.com/profile_images/1910994752159252480/FPtBZn7A_400x400.jpg' },
	{ name: 'Aisu Asai', role: 'Design', xHandle: 'AisuAsai', xUrl: 'https://x.com/AisuAsai', avatarUrl: 'https://pbs.twimg.com/profile_images/1907331163271925761/ooKz6hKA_400x400.jpg' },
	{ name: 'Cloverclub', role: 'Consultant', xHandle: 'cloverclubcos', xUrl: 'https://x.com/cloverclubcos', avatarUrl: 'https://pbs.twimg.com/profile_images/1922827396857606145/nM9nul4b_400x400.jpg' },
	{ name: 'Nocte', role: 'Consultant', xHandle: 'saikyouticnocte', xUrl: 'https://x.com/saikyouticnocte', avatarUrl: 'https://pbs.twimg.com/profile_images/1971695083251519488/0hRYiDYM_400x400.jpg' },
	{ name: 'Zach', role: 'Translator', xHandle: 'slaphappypuppy1', xUrl: 'https://x.com/slaphappypuppy1', avatarUrl: 'https://pbs.twimg.com/profile_images/1938800423789367297/RkOGJqIP_400x400.jpg' },
];
---

<Layout>
	<Header background="bg-vivi-purple-900/95" />
	<PreorderBanner />
	<main class="relative">
		<h1 class="sr-only">Kikirara Vivi (綺々羅々ヴィヴィ) Happi - Hololive 7th Fes Ridin on Dreams & Super Expo 2026</h1>
		<Hero variant="primary" height="min-h-[80dvh] md:min-h-[90dvh]" padding="py-8">
			<Sticker
				src={stickerSparkles}
				alt=""
				width={120}
				height={120}
				rotation={-15}
				class="top-1 right-2 md:top-8 md:right-8 lg:top-12 lg:right-12"
			/>
			<Sticker
				src={stickerHearts}
				alt=""
				width={100}
				height={100}
				rotation={20}
				class="bottom-1 left-2 md:bottom-8 md:left-8 lg:bottom-12 lg:left-12"
			/>
			<HeroCarousel />
		</Hero>
		<Hero variant="secondary">
			<Sticker
				src={stickerLipstick}
				alt=""
				width={90}
				height={90}
				rotation={-25}
				class="top-4 left-4 md:top-6 md:left-6"
			/>
			<Sticker
				src={stickerMirror}
				alt=""
				width={110}
				height={110}
				rotation={15}
				class="bottom-4 right-4 md:bottom-6 md:right-6"
			/>
			<ProductInfo products={products} description="We as fans have come together to create a special project for Kikirara Vivi (綺々羅々ヴィヴィ) and her debut at hololive 7th fes - Ridin on Dreams and Super Expo 2026! With this beautiful, vibrant and sparkly happi (just like Vivi herself), you can show off your support for her!" />
		</Hero>
		<Hero variant="primary">
			<Sticker
				src={stickerMirror}
				alt=""
				width={85}
				height={85}
				rotation={25}
				class="top-4 left-4 md:top-8 md:left-8"
			/>
			<Sticker
				src={stickerLipstick}
				alt=""
				width={105}
				height={105}
				rotation={-15}
				class="bottom-4 right-4 md:bottom-8 md:right-8"
			/>
			<FAQ faqs={faqs} />
		</Hero>
		<Hero variant="secondary">
			<Sticker
				src={stickerSparkles}
				alt=""
				width={110}
				height={110}
				rotation={20}
				class="top-6 right-6 md:bottom-10 md:right-1/4 xl:top-2/3 xl:right-10"
			/>
			<Team members={teamMembers} />
		</Hero>
		<Hero variant="primary" padding="py-16">
			<Sticker
				src={stickerCross}
				alt=""
				width={80}
				height={80}
				rotation={30}
				class="top-8 right-8 md:right-1/3 xl:right-10"
			/>
			<Sticker
				src={stickerSparkles}
				alt=""
				width={100}
				height={100}
				rotation={-20}
				class="bottom-8 left-8 md:bottom-1/4 md:left-12"
			/>
			<StayUpdated />
		</Hero>
		<Hero variant="secondary">
			<Sticker
				src={stickerHearts}
				alt=""
				width={95}
				height={95}
				rotation={-10}
				class="top-6 right-6 md:top-10 md:right-10"
			/>
			<FlowbiteTimeline items={timelineItems} />
		</Hero>
		<Hero variant="primary">
			<Sticker
				src={stickerCross}
				alt=""
				width={90}
				height={90}
				rotation={-30}
				class="top-4 right-4 md:top-8 md:right-8"
			/>
			<Sticker
				src={stickerHearts}
				alt=""
				width={115}
				height={115}
				rotation={18}
				class="bottom-4 left-4 md:bottom-8 md:left-8"
			/>
			<PreorderCTA />
		</Hero>
	</main>

	<Footer />
</Layout>
